/* General styles */
form {
  text-align: center;
}

.logo {
  width: 200px; /* Adjusted size to be 2x bigger */
  height: auto;
  display: block;
  margin: 1px auto;
  line-height: 1; /* Set line-height to remove extra space below text */
}

.logo2 {
  width: 120px;
  height: auto;
  position: absolute;
  top: 61%;
  right:11%;
  animation: floatAnimation 4s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Style the "Webcam" button */
#webcamCapture {
  padding: 8px 12px;
  background-color: #7323a2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 10px auto;
}

#webcamCapture:hover {
  background-color: #720a3e;
}

/* Style the hidden form for webcam capture */
#webcamCaptureForm {
  display: none;
}

/* Style the video element for the webcam feed */
#webcam {
  display: none;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

/* Style the form container */
.form-container {
  text-align: center; /* Center align the contents */
}

/* Style the file input field */
.form-container input[type="file"] {
  padding: 6px 10px; /* Adjust padding */
  background-color: #7323a2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Adjust font size */
  cursor: pointer;
  max-width: 120px; /* Set maximum width */
}

/* Style the submit button */
.form-container input[type="submit"] {
  padding: 8px 12px; /* Adjust padding */
  background-color: #7323a2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Style the submit button on hover */
.form-container input[type="submit"]:hover {
  background-color: #b40463;
}

h1, h4 {
  text-align: center;
  margin: 20px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
  .container-main {
    padding: 10px;
    height: auto;
  }
  /* Maintain the original size of the logo and logo2 */
  /* .logo, .logo2 {
    width: 80px;
  } */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-container input[type="file"],
  .form-container input[type="submit"] {
    width: 60%;
    padding: 8px 12px; /* Adjust padding */
    font-size: 14px; /* Adjust font size */
    margin: 5px 0; /* Add margin for better spacing */
  }
}
