<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corn Seeds Detector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-main">
        <img class="logo" src="../static/lolo.png" alt="Logo">
        <h1>Corn Seeds Detection</h1>
        <div class="form-container">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>
        <h4>Capture from Webcam</h4>
        <button id="webcamCapture" class="btn btn-primary">Webcam</button>
        <form method="POST" action="/capture_webcam" enctype="multipart/form-data" id="webcamCaptureForm">
            <input type="hidden" name="webcam_image_data" id="webcamImageData">
        </form>
        <video id="webcam" autoplay></video>
    </div>
    <img class="logo2" src="../static/cartoon2.png" alt="Logo2">

    <script>
        const webcamCaptureButton = document.getElementById('webcamCapture');
        const webcamCaptureForm = document.getElementById('webcamCaptureForm');
        const webcamImageDataInput = document.getElementById('webcamImageData');
        const videoElement = document.getElementById('webcam');
        let stream = null;

        const constraints = {
            video: {
                facingMode: 'user'
            }
        };

        async function startWebcam() {
            try {
                stream = await navigator.mediaDevices.getUserMedia(constraints);
                videoElement.srcObject = stream;
            } catch (error) {
                console.error('Error accessing webcam:', error);
            }
        }

        function capturePhoto() {
            const canvas = document.createElement('canvas');
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

            const dataURL = canvas.toDataURL('image/jpeg');
            webcamImageDataInput.value = dataURL;

            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
            }

            videoElement.srcObject = null;
            webcamCaptureForm.submit();
        }

        webcamCaptureButton.addEventListener('click', () => {
            if (stream) {
                capturePhoto();
            } else {
                startWebcam();
                webcamCaptureButton.innerText = "Capture";
            }
        });
    </script>
</body>
</html>
